body {
    font-family: 'Golos Text', sans-serif;
    margin: 0 10px 0 10px;
}

.light-mode {
    background-color: #F3E9DE;
    color: #256993;
}

.dark-mode {
    background-color: #251605;
    color: #8DC1E2
}

h1, footer {
    text-align: center;
}

/* -------------------------------- Sidebar ----------------------------------------- */
.nav-light-mode {
    background-color: #FAF4EC;
}
.nav-dark-mode {
    background-color: #33220B;
}

ul {
    list-style-type: square;
}

/* -------------------------------- Main Content ----------------------------------------- */
main p {
    display: inline;
    margin: 5px;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

/* ------ Buttons ------- */
.sidebar-button {
    background: none;
    border: none;
    font-family: 'Golos Text', sans-serif;
    color: #256993;
}

main button {
    color: white;
    border-radius: 7px;
    padding: 10px;
}

.new-note {
    background-color: #375F68;
}

.dark-theme {
    background-color: #56536A;
}

.save {
    background-color: #375F68;
}

.cancel {
    background-color: #9B332C;
}

/* ------ Text Area ------- */
textarea {
    padding: 10px;
    width: 90vw;
    max-width: 90vw;
    height: 20vh;
    max-height: 20vh;
    border-radius: 5px;
    border: 3px solid lightskyblue;
}

.wrapper {
    width: 95vw;
}

/* ------ Flex and Grid Layouts ------- */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
}

section:first-child {
    align-self: flex-end;
    margin: 5px;
}

section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

section:last-child {
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------------------------- Responsive Design ----------------------------------------- */
@media screen and (min-width:500px) {
    .wrapper {
        width: 80vw;
    }

    textarea {
        width: 78vw;
        max-width: 78vw;
        max-height: 30vh;
    }
    
    body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 10px;
        height: 100vh;
        margin-left: 0px;
    }

    nav {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    main, footer{
        grid-column: 2 / 3;
    }
}