body {
    background-color: #F3E9DE;
    font-family: 'Golos Text', sans-serif;
    color: #256993;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
}

h1 {
    text-align: center;
}

/* -------------------------------- Sidebar ----------------------------------------- */
.sidebar {
    height: 100vh;
    background-color: #FAF4EC;
}

ul {
    list-style-type: square;
}

/* -------------------------------- Main Content ----------------------------------------- */
[class="sidebar"] + div {
    margin-right: 10px;
}

main p {
    display: inline;
    margin: 5px;
}

/* ------ Buttons ------- */
button {
    color: white;
    border-radius: 7px;
    padding: 10px;
}

.new-note {
    background-color: #375F68;
}

.dark-theme {
    background-color: #56536A;
}

.save {
    background-color: #375F68;
}

.cancel {
    background-color: #9B332C;
}

/* ------ Text Area ------- */
textarea {
    padding: 10px;
    /* display: block; */
    width: 98%;
    max-width: 100em;
    max-height: 50vh;
    border-radius: 5px;
    border: 3px solid lightskyblue;
    background-color: #FAF4EC;
}

/* ------ Flex and Grid Layouts ------- */
.content {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
}

section:first-child {
    align-self: flex-end;
    margin: 5px;
}

section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

section:last-child {
    align-self: flex-end;
    margin-top: 10px
}

footer {
    text-align: center;
}